In [20]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

identity = (
    "Tom Vaillant, visual journalist at 20 Minuten" + 
    "scraping for jounrnalism purposes"
)

html = requests.get(
    "https://www.meteoswiss.admin.ch/climate/the-climate-of-switzerland/records-and-extremes.html",
    headers = {
        "From": identity
    }
).text

records = BeautifulSoup(html)
tables = records.select("table")
rain_table = tables[1]
rain_table

<table> <thead> <tr> <th scope="col"> <p><strong>Highest volume of rain in</strong></p> </th> <th scope="col"> <p><strong>Switzerland</strong></p> </th> <th scope="col"> <p><strong>The world</strong></p> </th> </tr> </thead> <tbody> <tr> <td> <p>10 minutes</p> </td> <td> <p>41.0 mm<br/> Lausanne<br/> 601 m above sea level<br/> 11 June 2018</p> </td> <td> <p>No data</p> </td> </tr> <tr> <td> <p>1 hour</p> </td> <td> <p>91.2 mm<br/> Locarno-Monti (TI)<br/> 366 m above sea level<br/> 28 August 1997</p> </td> <td> <p>305.0 mm<br/> Holt, Montana, USA<br/> 263 m above sea level<br/> 22 June 1947</p> </td> </tr> <tr> <td> <p>24 hours</p> </td> <td> <p>455 mm<br/> Camedo (TI)<br/> 550 m above sea level<br/> 26 August 1935</p> </td> <td> <p>1,825 mm<br/> Foc-Foc, La Réunion<br/> 2,290 m above sea level<br/> 7-8 January 1966</p> </td> </tr> <tr> <td> <p>2 days</p> </td> <td> <p>612 mm<br/> Mosogno (TI)<br/> 760 m above sea level<br/> 23-24 September 1924</p> </td> <td> <p>2,493 mm<br/> Cherrapunji, India<br/> 1,313 m above sea level<br/> 15-16 June 1995</p> </td> </tr> <tr> <td> <p>3 days</p> </td> <td> <p>768 mm<br/> Camedo (TI)<br/> 550 m above sea level<br/> 3-5 September 1948</p> </td> <td> <p>3,930 mm<br/> Cratère Commerson, La Réunion<br/> 2,310 m above sea level<br/> 24-26 February 2007</p> </td> </tr> <tr> <td> <p>1 month</p> </td> <td> <p>1,239 mm<br/> Camedo (TI)<br/> 550 m above sea level<br/> April 1986</p> </td> <td> <p>No data</p> </td> </tr> <tr> <td> <p>1 year</p> </td> <td> <p>4,173 mm<br/> Säntis<br/> 2,502 m above sea level<br/> 1922</p> </td> <td> <p>26,470 mm<br/> Cherrapunji, India<br/> 1,313 m above sea level<br/> 1860-1861</p> </td> </tr> </tbody> </table>

In [21]:
rows = rain_table.select("tbody tr")

[ cell.text for cell in rows[0].select("td") ]

[' 10 minutes ',
 ' 41.0\xa0mm Lausanne 601 m above sea level 11 June 2018 ',
 ' No data ']

In [22]:
rain_records = []

for row in rows:
    row_cells = []
    for cell in row.select("td"):
        row_cells.append(cell.text)
    rain_records.append(row_cells)


rain_records[:10]

[[' 10 minutes ',
  ' 41.0\xa0mm Lausanne 601 m above sea level 11 June 2018 ',
  ' No data '],
 [' 1 hour ',
  ' 91.2 mm Locarno-Monti (TI) 366 m above sea level 28 August 1997 ',
  ' 305.0 mm Holt, Montana, USA 263 m above sea level 22 June 1947 '],
 [' 24 hours ',
  ' 455 mm Camedo (TI) 550 m above sea level 26 August 1935 ',
  ' 1,825 mm Foc-Foc, La Réunion 2,290 m above sea level 7-8 January 1966 '],
 [' 2 days ',
  ' 612 mm Mosogno (TI) 760 m above sea level 23-24 September 1924 ',
  ' 2,493 mm Cherrapunji, India 1,313 m above sea level 15-16 June 1995 '],
 [' 3 days ',
  ' 768 mm Camedo (TI) 550 m above sea level 3-5 September 1948 ',
  ' 3,930 mm Cratère Commerson, La Réunion 2,310 m above sea level 24-26 February 2007 '],
 [' 1 month ',
  ' 1,239 mm Camedo (TI) 550 m above sea level April 1986 ',
  ' No data '],
 [' 1 year ',
  ' 4,173 mm Säntis 2,502 m above sea level 1922 ',
  ' 26,470 mm Cherrapunji, India 1,313 m above sea level 1860-1861 ']]

In [23]:
rain_recs = [
    [ cell.text for cell in row.select("td") ]
    for row in rows
]

rain_recs[:3]

[[' 10 minutes ',
  ' 41.0\xa0mm Lausanne 601 m above sea level 11 June 2018 ',
  ' No data '],
 [' 1 hour ',
  ' 91.2 mm Locarno-Monti (TI) 366 m above sea level 28 August 1997 ',
  ' 305.0 mm Holt, Montana, USA 263 m above sea level 22 June 1947 '],
 [' 24 hours ',
  ' 455 mm Camedo (TI) 550 m above sea level 26 August 1935 ',
  ' 1,825 mm Foc-Foc, La Réunion 2,290 m above sea level 7-8 January 1966 ']]

In [37]:
header_cells = rain_table.select("thead th")
rain_headers = [ header.text for header in header_cells ]
headers = ["Duration", "Swiss", "World"]

In [54]:
rain_df = pd.DataFrame(rain_records, columns=headers)
rain_df.head(10)

,Duration,Swiss,World
0,10 minutes,41.0 mm Lausanne 601 m above sea level 11 Jun...,No data
1,1 hour,91.2 mm Locarno-Monti (TI) 366 m above sea le...,"305.0 mm Holt, Montana, USA 263 m above sea l..."
2,24 hours,455 mm Camedo (TI) 550 m above sea level 26 A...,"1,825 mm Foc-Foc, La Réunion 2,290 m above se..."
3,2 days,612 mm Mosogno (TI) 760 m above sea level 23-...,"2,493 mm Cherrapunji, India 1,313 m above sea..."
4,3 days,768 mm Camedo (TI) 550 m above sea level 3-5 ...,"3,930 mm Cratère Commerson, La Réunion 2,310 ..."
5,1 month,"1,239 mm Camedo (TI) 550 m above sea level Ap...",No data
6,1 year,"4,173 mm Säntis 2,502 m above sea level 1922","26,470 mm Cherrapunji, India 1,313 m above se..."

In [103]:
import numpy as np

rain_df['Volume'] = rain_df['Swiss'].str.split('m').str[0]
rain_df['Volume'] = rain_df['Volume'].str.replace(',', '').astype(float)
rain_df['Volume'] = rain_df['Volume'].astype(int)

rain_df['Volume World'] = rain_df['World'].apply(lambda x: x.split('m')[0] if 'm' in x else None)
rain_df['Volume World'] = rain_df['Volume World'].str.replace(',', '').astype(float)
rain_df['Volume World'] = rain_df['Volume World'].astype('Int64')
rain_df

,Duration,Swiss,World,Volume,Volume World
0,10 minutes,41.0 mm Lausanne 601 m above sea level 11 Jun...,No data,41,<NA>
1,1 hour,91.2 mm Locarno-Monti (TI) 366 m above sea le...,"305.0 mm Holt, Montana, USA 263 m above sea l...",91,305
2,24 hours,455 mm Camedo (TI) 550 m above sea level 26 A...,"1,825 mm Foc-Foc, La Réunion 2,290 m above se...",455,1825
3,2 days,612 mm Mosogno (TI) 760 m above sea level 23-...,"2,493 mm Cherrapunji, India 1,313 m above sea...",612,2493
4,3 days,768 mm Camedo (TI) 550 m above sea level 3-5 ...,"3,930 mm Cratère Commerson, La Réunion 2,310 ...",768,3930
5,1 month,"1,239 mm Camedo (TI) 550 m above sea level Ap...",No data,1239,<NA>
6,1 year,"4,173 mm Säntis 2,502 m above sea level 1922","26,470 mm Cherrapunji, India 1,313 m above se...",4173,26470

In [112]:
rain_df['Location'] = rain_df['Swiss'].str.extract(r'mm\s*(\w+)', expand=False)
rain_df['Location World'] = rain_df['World'].str.extract(r'mm\s*(\w+)', expand=False).fillna('')
rain_df

,Duration,Swiss,World,Volume,Volume World,Location,Location World
0,10 minutes,41.0 mm Lausanne 601 m above sea level 11 Jun...,No data,41,<NA>,Lausanne,
1,1 hour,91.2 mm Locarno-Monti (TI) 366 m above sea le...,"305.0 mm Holt, Montana, USA 263 m above sea l...",91,305,Locarno,Holt
2,24 hours,455 mm Camedo (TI) 550 m above sea level 26 A...,"1,825 mm Foc-Foc, La Réunion 2,290 m above se...",455,1825,Camedo,Foc
3,2 days,612 mm Mosogno (TI) 760 m above sea level 23-...,"2,493 mm Cherrapunji, India 1,313 m above sea...",612,2493,Mosogno,Cherrapunji
4,3 days,768 mm Camedo (TI) 550 m above sea level 3-5 ...,"3,930 mm Cratère Commerson, La Réunion 2,310 ...",768,3930,Camedo,Cratère
5,1 month,"1,239 mm Camedo (TI) 550 m above sea level Ap...",No data,1239,<NA>,Camedo,
6,1 year,"4,173 mm Säntis 2,502 m above sea level 1922","26,470 mm Cherrapunji, India 1,313 m above se...",4173,26470,Säntis,Cherrapunji

In [114]:
rain_df = rain_df[['Duration', 'Location', 'Volume', 'Location World', 'Volume World', 'Swiss', 'World']]
rain_df

,Duration,Location,Volume,Location World,Volume World,Swiss,World
0,10 minutes,Lausanne,41,,<NA>,41.0 mm Lausanne 601 m above sea level 11 Jun...,No data
1,1 hour,Locarno,91,Holt,305,91.2 mm Locarno-Monti (TI) 366 m above sea le...,"305.0 mm Holt, Montana, USA 263 m above sea l..."
2,24 hours,Camedo,455,Foc,1825,455 mm Camedo (TI) 550 m above sea level 26 A...,"1,825 mm Foc-Foc, La Réunion 2,290 m above se..."
3,2 days,Mosogno,612,Cherrapunji,2493,612 mm Mosogno (TI) 760 m above sea level 23-...,"2,493 mm Cherrapunji, India 1,313 m above sea..."
4,3 days,Camedo,768,Cratère,3930,768 mm Camedo (TI) 550 m above sea level 3-5 ...,"3,930 mm Cratère Commerson, La Réunion 2,310 ..."
5,1 month,Camedo,1239,,<NA>,"1,239 mm Camedo (TI) 550 m above sea level Ap...",No data
6,1 year,Säntis,4173,Cherrapunji,26470,"4,173 mm Säntis 2,502 m above sea level 1922","26,470 mm Cherrapunji, India 1,313 m above se..."

In [131]:
df1 = rain_df[['Duration', 'Location', 'Volume', 'Swiss']]
df2 = rain_df[['Duration', 'Location World', 'Volume World', 'World']]

df2 = df2.rename(columns={
    'Location World': 'Location',
    'Volume World': 'Volume',
    'World': 'Swiss'
})

combined_df = pd.concat([df1, df2], ignore_index=True)
combined_df = combined_df.sort_values('Duration').reset_index(drop=True)
combined_df = combined_df.rename(columns={'Swiss': 'Description'})
combined_df = combined_df.dropna(subset=['Location', 'Volume', 'Description'], how='all')
combined_df = combined_df[
    (combined_df['Description'] != "No data") & 
    (combined_df['Location'] != "")
]
combined_df = combined_df.reset_index(drop=True)
combined_df

,Duration,Location,Volume,Description
0,1 hour,Locarno,91,91.2 mm Locarno-Monti (TI) 366 m above sea le...
1,1 hour,Holt,305,"305.0 mm Holt, Montana, USA 263 m above sea l..."
2,1 month,Camedo,1239,"1,239 mm Camedo (TI) 550 m above sea level Ap..."
3,1 year,Säntis,4173,"4,173 mm Säntis 2,502 m above sea level 1922"
4,1 year,Cherrapunji,26470,"26,470 mm Cherrapunji, India 1,313 m above se..."
5,10 minutes,Lausanne,41,41.0 mm Lausanne 601 m above sea level 11 Jun...
6,2 days,Mosogno,612,612 mm Mosogno (TI) 760 m above sea level 23-...
7,2 days,Cherrapunji,2493,"2,493 mm Cherrapunji, India 1,313 m above sea..."
8,24 hours,Camedo,455,455 mm Camedo (TI) 550 m above sea level 26 A...
9,24 hours,Foc,1825,"1,825 mm Foc-Foc, La Réunion 2,290 m above se..."
10,3 days,Camedo,768,768 mm Camedo (TI) 550 m above sea level 3-5 ...
11,3 days,Cratère,3930,"3,930 mm Cratère Commerson, La Réunion 2,310 ..."

In [132]:
combined_df.to_csv("../data/clean/records.csv")